.form-field-err-tip {
  @apply text-red-500 text-xs;
}

.form-field-info-tip {
  @apply text-gray-500 text-xs italic;
}

.form-input-err {
  @apply border-2 border-red-500 focus:border-red-500 focus:ring-red-500;
}

.form-label-err {
  @apply text-red-500;
}



img.image-file {
  display: block;
  max-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
}

img.preview-image-file {
  display: block;
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
}

img.list-image-file {
  display: block;
  max-width: 100px;
  max-height: 75px;
  width: auto;
  height: auto;
}

/* pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; } */
