img.resource-tileset {
  display: block;
  max-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
}

img.preview-resource-tileset {
  display: block;
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
}

pre {
  padding: 5px;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}

.tabs {
  @apply flex text-center bg-gray-200;
}

.tab {
  @apply text-lg;
}

.active-tab {
  @apply border-b-2 border-gray-600;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loading-icon {
    animation: spin infinite 2s linear;
  }
}